@import "../../app/variables";

.SummaryComponent {
  align-items: flex-end;

  .SmallLoader {
    margin-right: 72px;
  }

  .Summary {
    padding-left: $space;
    color: $black-200;

    .Summary-title {
      margin-bottom: $xs-space;
      color: $black-50;
    }

    .Summary-value {
      color: $black-200;
    }
  }
}
