@import "../../../app/variables";

.LowConfidence {
  background: $white;
  border: none;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  color: $black;
  padding: 0 $lg-space;
  font-family: $font-family !important;
}
