@import "../../../../app/variables";
@import "../../../../app/flex";

.MainMenu {
  top: $main-menu-height;
  left: 0;
  position: fixed;
  height: 100%;
  width: $main-menu-width;
  background-color: $main-menu-color;
  z-index: $main-menu-z-index;

  &.MenuItems {
    flex: 1;
  }
}
