@import "../../../app/variables";

.MenuItem {
  color: $grey;
  cursor: pointer;
  margin: $sm-space 0;
  padding: $sm-space 0;

  &:hover {
    color: $white;
  }

  &.isSelected {
    background: $blue;
    color: white;
  }

  .MenuItem-icon {
    margin-bottom: 5px;
  }
}
