@import "../../../app/variables";

.MenuItem {
  height: 44px;
  background-color: $primary-bg;
  color: $primary-fg;
  cursor: pointer;
  padding: $sm-space;

  span:first-letter {
    text-transform: uppercase;
  }

  &:hover {
    background-color: $primary-bg-hover;
    color: $primary-fg-hover;
  }

  &.isSelected {
    background-color: $primary-bg-active;
    color: $primary-fg-active;
  }

  .MenuItem-icon {
    margin-bottom: 5px;
  }
}
