@import "../../../app/variables";

.Icon {
  margin: 0 $space;
  width: $icon-size;
  height: $icon-size;

  .mdi {
    font-size: $xl;
    line-height: 1;

    &.small {
      font-size: $normal;
    }
  }
}
