[Unit]
Description=Elvaco MVP
After=syslog.target network.target

[Service]
User=mvp
WorkingDirectory=/opt/elvaco/mvp-current
ExecStart=/opt/elvaco/mvp-current/bin/mvp

[Install]
WantedBy=multi-user.target
