@import "../../app/variables";

.Xsmall {
  &.ErrorLabel {
    text-align: center;
    background-color: $red;
    color: $white;
    font-weight: bold;
    height: 12px;
    padding: 2px 3px 3px 3px;
    margin-top: $xs-space;
    border-radius: 2px;
    max-width: 94px;
    line-height: 1;
  }
}
