@import "../../app/variables";

.Bold {
  font-weight: 700;
}

.Normal {
  font-size: $normal;
}

.Medium {
  font-size: $medium;
}

.Large {
  font-size: $lg;
}

.Small {
  font-size: $sm;
}

.Xlarge {
  font-size: $xl;
}

.Xsmall {
  font-size: $xs;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.first-uppercase {
  &:first-letter {
    text-transform: uppercase;
  }
}

.Italic {
  font-style: italic;
}

.Error {
  color: $error-color;
  font-weight: bold;
}

.InfoText {
  color: $black-50;
  font-style: italic;
}
