@import "../../app/variables";

.Title {
  margin-top: $xl-space;
  margin-bottom: $space;

  &:first-letter {
    text-transform: uppercase;
  }
}

.MainTitle {
  margin-bottom: $space;

  &:first-letter {
    text-transform: uppercase;
  }

  .Normal {
    &:first-letter {
      text-transform: uppercase;
    }
  }

  .Subtitle-description {
    margin: 10px 0 0 8px;
    color: $primary-fg;
    font-size: $sm;
  }
}

.Subtitle {
  margin-left: $space;
  margin-bottom: $space;
}

.AppTitle {
  color: $white;
  font-size: $xl;
  text-transform: uppercase;
  text-align: left;
  width: $side-menu-width;
}
