@import '../../../app/variables';

.Tabs {
  $underline-height: 5px;

  .TabList {
    align-items: flex-end;
    border-bottom: $divider;

    .Tab {
      cursor: pointer;

      &.isSelected {
        .Tab-header {
          color: $black;
        }
      }

      .Tab-header {
        text-align: center;
        padding: $sm-space $lg-space;

        &:hover {
          color: $black;
        }
      }
    }

    .TabUnderline {
      border-top-left-radius: $underline-height * 2;
      border-top-right-radius: $underline-height * 2;
    }
  }

  &.ReportTabs, &.MeterTabs {
    .TabList {
      justify-content: space-between;
      height: 44px;
    }
  }

  .TabContent {
    display: none;

    &.selected {
      display: flex;
    }
  }
}

.TabSettings {
  padding-right: $xs-space;
  flex: 1;
  align-items: flex-end;
}
