@import '../../../app/variables';

.Tabs {
  $underline-height: 5px;

  .TabList {
    align-items: flex-end;
    border-bottom: solid 1px $border-color;

    .Tab {
      cursor: pointer;

      .Tab-header {
        text-align: center;
        padding: $sm-space $lg-space;
        color: $lightest-black;

        &:hover {
          color: $black;
        }
      }

      &.isSelected {
        .Tab-header {
          color: $black;
        }

        &:hover {
          .TabUnderline {
            border-top: solid $underline-height $blue-A700;
          }
        }
      }

      &:hover {
        .TabUnderline {
          border-top: solid $underline-height $grey;
        }
      }
    }

    .TabUnderline {
      border-top-left-radius: $underline-height * 2;
      border-top-right-radius: $underline-height * 2;

      &.isSelected {
        border-top: solid $underline-height $blue-A700;
      }
    }
  }

  &.ReportTabs, &.MeterTabs {
    .TabList {
      justify-content: space-between;
      height: 44px;
    }

    .Tabs-DropdownMenus {
      align-self: center;
    }
  }

  .TabContent {
    display: none;

    &.selected {
      display: flex;
    }
  }
}

.TabSettings {
  padding-right: $space;
  flex: 1;
  align-items: flex-end;
}
