// static colors
$black: #000000;
$white: #ffffff;
$table-row-odd-bg: #fbfbfb;
$body-bg-color: #f9f9f9;
$calendar-today-color: #ff4081;
$notification-color: #e10050;
$border-color: #cccccc;
$divider-color: #eaeaea;
$count-color: #81d4fa;
$map-color: #3ebcee;
$new-meter-color: #3ebcee;
$ok-color: #41c300;
$error-color: #e84d6f;
$warning-color: #ff9800;
$unknown-color: #7b7b7b;
$info-color: #7b7b7b;
