@import "variables";

.bordered {
  border-radius: $border-radius !important;
}

.clickable {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.unselectable {
  user-select: none;
}

.no-wrap {
  white-space: nowrap;
}

// Must be accompanied with max-width
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
