.flex-fill-horizontally {
  flex: 0 0 100%;
}

.flex-1 {
  flex: 1;
}

.space-between {
  justify-content: space-between;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.one-third {
  flex-basis: 33%;
}

.two-thirds {
  flex-basis: 66.7%;
}
