@import "variables";

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 400;
  font-variant-ligatures: none;
  src: url('../assets/fonts/TTNorms/TTNorms-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 700;
  font-variant-ligatures: none;
  src: url('../assets/fonts/TTNorms/TTNorms-Bold.otf') format('opentype');
}

