@import "variables";

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 400;
  font-variant-ligatures: none;
  src: url('../assets/fonts/TTNorms/TTNorms-Regular.otf'), /* IE9 Compat Modes */
  url(../assets/fonts/TTNorms/TTNorms-Regular.otf) format('otf'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 700;
  font-variant-ligatures: none;
  src: url('../assets/fonts/TTNorms/TTNorms-Bold.otf'), /* IE9 Compat Modes */
  url(../assets/fonts/TTNorms/TTNorms-Bold.otf) format('otf'); /* Super Modern Browsers */
}

