@import "variables";

input[type=text], input[type=password], input[type=submit] {
  font-family: $font-family;
  font-size: $normal;
  height: $input-height;
  border: $border;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px $white inset;
}
