@import 'variables';

/* grid */
$grid-cell-padding-x: 2px;
$grid-cell-padding-y: 0;

$grid-header-padding-x: 2px;
$grid-header-padding-y: 8px;

$grid-header-border: 0 1px 0 0 solid $border-color;

$grid-header-text: $black;

$grid-alt-bg: #fbfbfb;

$grid-hovered-bg: $primary-bg-hover;

$grid-cell-horizontal-border-width: 0;

@import '~@progress/kendo-theme-material/scss/grid.scss';

.k-header {
  text-transform: capitalize;
}

.k-widget {
  &.k-grid {
    border-width: 0;

    .k-grid-pager {
      justify-content: center;
      padding: $space $space $space - 4 $space;
    }

    th {
      text-align: left;
      font-size: $medium;
      cursor: default;

      &.left-most {
        padding-left: 16px;
      }
    }
  }
}

/* tree view */
$treeview-item-padding-x: 0;
$treeview-item-padding-y: 0;
$treeview-item-hovered-bg: $secondary-bg-hover;

@import '~@progress/kendo-theme-material/scss/treeview.scss';

.k-treeview {
  .k-in {
    width: 100%;

    &:hover {
      border-radius: $menu-item-border-radius;
    }

    &.k-state-focused {
      border-radius: $menu-item-border-radius;
    }
  }
}

ul.k-treeview-lines {
  margin: 0;
  line-height: 1;
  padding-left: 36px;
}
