@import 'variables';

/* grid */
$grid-cell-padding-x: 2px;
$grid-cell-padding-y: 6px;

$grid-header-padding-x: 2px;
$grid-header-padding-y: 8px;

$grid-header-border: 0 1px 0 0 solid $border-color;

$grid-header-text: $black;

$grid-sorted-bg: 'transparent';

$grid-alt-bg: #fbfbfb;

$grid-hovered-bg: $primary-bg-hover;

$grid-cell-horizontal-border-width: 0;

$pager-number-bg: null;
$pager-number-text: $primary-fg;
$pager-number-selected-bg: $primary-bg;
$pager-number-hovered-bg: $primary-bg-active;
$pager-number-hovered-text: $primary-fg-active;

@import '~@progress/kendo-theme-material/scss/grid.scss';

.k-grid-header .k-header > .k-link > .k-icon.k-i-sort-desc-sm,
.k-grid-header .k-header > .k-link > .k-icon.k-i-sort-asc-sm {
  vertical-align: middle;
}

.k-header {
  text-transform: capitalize;

  &.quantity {
    text-transform: none;
  }
}

.Dialog .k-widget.k-grid .k-grid-header tr th {
  top: -28px;
}

.k-widget {
  &.k-grid {
    border-width: 0;

    .k-grid-header {
      tr {
        th {
          background-color: $white;
          position: sticky;
          top: $main-menu-height;
          border-bottom: 1px solid $border-color;
          z-index: 2;
        }
      }
    }

    .k-grid-header-wrap {
      border: none;
    }

    .k-grid-pager {
      border-width: 0;
      justify-content: center;
      padding: $space $space $space - 4 $space;

      .k-pager-numbers {
        .k-link {
          margin-right: $xs-space;
          box-shadow: $box-shadow;
          transition: background-color 250ms linear;

          &:hover {
            box-shadow: $box-shadow-hover;
          }

          &.k-state-selected {
            font-weight: bold;

            &:hover {
              color: $white;
              background-color: $pager-number-selected-bg;
            }
          }
        }
      }
    }

    th {
      text-align: left;
      font-size: $medium;
      cursor: default;

      &.left-most {
        padding-left: 16px;
      }
    }

    td {
      color: $blackest;

      &.left-most {
        padding-left: 16px;
      }
    }
  }
}

.Grouping-grid {
  .GroupHeader {
    height: 44px;
    background-color: $light-grey;

    td {
      padding: $space 0 $sm-space $sm-space;
      border-bottom: 1px solid $border-color;

      &.check-box-td {
        padding-left: $grid-cell-padding-x;
      }
    }
  }

  .k-grid {
    .k-grouping-header {
      display: none;
    }

    th {
      border-bottom-width: 0;

      &.left-most {
        padding-left: $xs-space;
      }

      &.hidden {
        display: none;
      }
    }

    tr.last {
      td {
        border-bottom: 1px solid $border-color;
      }
    }

    td {
      &.left-most {
        padding-left: $xs-space;
      }

      &.hidden {
        display: none;
      }
    }
  }
}

/* tree view */
$treeview-item-padding-x: 0;
$treeview-item-padding-y: 0;
$treeview-item-hovered-bg: $secondary-bg-hover;

@import '~@progress/kendo-theme-material/scss/treeview.scss';

.k-treeview {
  .k-in {
    width: 100%;

    &:hover {
      border-radius: $menu-item-border-radius;
    }

    &.k-state-focused {
      border-radius: $menu-item-border-radius;
    }
  }
}

ul.k-treeview-lines {
  margin: 0;
  line-height: 1;
  padding-left: 36px;
}
