/**
 * This file is used to override default styles for material design components.
 */

.ListItem {
  &:first-letter {
    text-transform: uppercase;
  }
}

/*
 !important is needed for changes to override the material style
 */
.Dialog {
  width: 70% !important;
  max-width: 1000px !important;
}

.TextField, .SelectField {
  margin-bottom: 20px;
}
