/**
 * This file is used to override default styles for material design components.
 */

.ListItem {
  &:first-letter {
    text-transform: uppercase;
  }
}

/*
 !important is needed for changes to override the material style
 */
.Dialog-root {
  padding-top: 20px !important; // workaround that centers the top position of the dialog

  .Dialog {
    width: 70% !important;
    max-width: 1000px !important;
  }
}

.TextField, .SelectField {
  margin-bottom: 20px;
}
