// colors
$blackest: #000000;
$black: #0f2228;
$light-black: #3c3c3c;
$lightest-black: #7b7b7b;
$white: #ffffff;
$light-grey: #f9f9f9;
$grey: #f2f2f2;
$dark-grey: #eaeaea;
$darkest-grey: #cccccc;
$dark-blue: #006da3;
$blue: #00b6f7;
$light-blue: #e6f8ff;
$green: #41c300;
$orange: #ff9800;
$dark-orange: #e65100;
$red: #e84d6f;
$pink: #ff4081;

$border-color: $grey;
$main-menu-color: $dark-blue;


$box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
$box-shadow-hover: 0px 1px 6px 0px rgba(0, 0, 0, 0.22), 0px 1px 2px 0px rgba(0, 0, 0, 0.16), 0px 2px 2px -1px rgba(0, 0, 0, 0.14);

// interaction
$primary-bg: #ffffff;
$primary-bg-active: #81d4fa;
$primary-bg-hover: #e6f8ff;

$primary-fg: #3c3c3c;
$primary-fg-active: #044462;
$primary-fg-hover: #0f2228;

$secondary-bg: #f9f9f9;
$secondary-bg-active: #b6e2cc;
$secondary-bg-hover: #edf8f2;

$secondary-fg: #3c3c3c;
$secondary-fg-active: #245c40;
$secondary-fg-hover: #0f2228;

$error: $red;

// font sizes
$xs: 11px;
$sm: 12px;
$normal: 14px;
$medium: 16px;
$lg: 18px;
$xl: 24px;
$xxl: 56px;

$border-radius: 4px;
$menu-item-border-radius: 0 50px 50px 0;

// padding and margin
$xs-space: 4px;
$sm-space: 8px;
$space: 16px;
$lg-space: 24px;
$xl-space: 32px;

// icons sizes
$sm-icon: 24px;
$normal-icon: 28px;
$lg-icon: 30px;

// layout dimensions
$map-height: 300px;
$map-width: 800px;

$main-menu-height: 60px;
$main-menu-width: 0; // need to change drawerWidth in themes.ts when changing this value
$main-menu-z-index: 1400; // slightly larger than material design's app bar
$main-menu-item-height: 56px;
$list-item-height: 28px;
$selection-header-z-index: $main-menu-z-index + 100;

$side-menu-width: 256px;

$overview-widget-width: 172px;

$input-height: 36px;

$font-family: 'TTNorms', Arial, sans-serif;
