@import "colors";

$border: 1px solid $border-color;
$divider: 1px solid $divider-color;

$box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
$box-shadow-hover: 0px 1px 6px 0px rgba(0, 0, 0, 0.22), 0px 1px 2px 0px rgba(0, 0, 0, 0.16), 0px 2px 2px -1px rgba(0, 0, 0, 0.14);

// font sizes
$xs: 11px;
$sm: 12px;
$normal: 14px;
$medium: 16px;
$lg: 18px;
$xl: 24px;
$xxl: 56px;

$border-radius: 4px;
$menu-item-border-radius: 0 50px 50px 0;

// padding and margin
$xs-space: 4px;
$sm-space: 8px;
$space: 16px;
$lg-space: 24px;
$xl-space: 32px;
$xxl-space: 48px;

// icons sizes
$sm-icon: 24px;
$normal-icon: 28px;
$lg-icon: 30px;

// layout dimensions
$map-height: 300px;
$map-width: 800px;

// top-menu
$top-menu-item-width: 78px;
$top-menu-height: 60px;

$main-menu-z-index: 1400; // slightly larger than material design's app bar
$main-menu-item-height: 56px;
$list-item-height: 28px;
$selection-header-z-index: $main-menu-z-index + 100;

$side-menu-width: 300px;

$input-height: 36px;

$font-family: 'TTNorms', Arial, sans-serif;

@import "global-search";
