$grid-cell-padding-x: 2px;
$grid-cell-padding-y: 0;
$grid-header-padding-x: 2px;
$grid-header-padding-y: 8px;
$grid-alt-bg: #fbfbfb;
$grid-cell-horizontal-border-width: 0;

@import '~@progress/kendo-theme-material/scss/all';

.k-header {
  text-transform: uppercase;
}

.k-grid th {
  text-align: left;

  &.left-most {
    padding-left: 16px;
  }
}
