.editorconfig
.git
.gitignore
.gitlab-ci.yml
.gradle
.idea
.version
README.md
acceptance_tests
backend
build
build.gradle
docker-compose.yml
docs
frontend
gradle
gradlew
gradlew.bat
node_modules
saltstack
scripts
settings.gradle
upgrade-test
!backend/configuration/build/distributions/mvp-*.tar
!backend/geoservice/build/distributions/geoservice-*.tar
