.fusebox/

coverage-reports/
dist/
node_modules/

.gradle/
build/
out/
gradle
gradlew
gradlew.bat
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/inspectionProfiles
.idea/sonarlint

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries
*.iws
*.iml

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
