.DS_Store
.fusebox/
coverage-reports/
dist/
node_modules/

.version
.gradle/
build/
frontend/mockup/
frontend/.cache/
out/
gradle
gradlew
gradlew.bat
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### i18next ###
frontend/src/i18n/locales/template.pot
frontend/src/i18n/locales/*.json
frontend/src/i18n/locales/*.mo

### yarn ###
frontend/yarn-error.log

### IntelliJ IDEA ###
# User-specific stuff:
.idea/
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules/
.idea/sonarlint/
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/checkstyle-idea.xml
.idea/encodings.xml
.idea/workspace.xml
.idea/sqldialects.xml
.idea/dataSources
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/runConfigurations/
.idea/jsLinters/tslint.xml
.idea/runConfigurations/MvpApplication.xml
.idea/dictionaries

backend/.idea/runConfigurations/
backend/.idea/libraries/
backend/.idea/dictionaries
backend/.idea/inspectionProfiles/
backend/.idea/sonarlint/
backend/.idea/codeStyles/
backend/.idea/**/tasks.xml
backend/.idea/**/dataSources/
backend/.idea/**/dataSources.ids
backend/.idea/**/dataSources.xml
backend/.idea/**/dataSources.local.xml
backend/.idea/**/sqlDataSources.xml
backend/.idea/**/dynamic.xml
backend/.idea/**/uiDesigner.xml
backend/.idea/checkstyle-idea.xml
backend/.idea/codeStyleSettings.xml
backend/.idea/compiler.xml
backend/.idea/modules.xml
backend/.idea/misc.xml
backend/.idea/encodings.xml
backend/.idea/gradle.xml
backend/.idea/workspace.xml
backend/.idea/typescript-compiler.xml

*.iws
*.iml

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/


### acceptance_tests ###
acceptance_tests/target
