@import "../../app/variables";

.ButtonLink {
  cursor: pointer;

  .Normal {
    color: $primary-bg;

    &:hover {
      text-decoration: underline;
    }
  }

  &.blue {
    .Normal {
      color: $primary-bg;
    }
  }

  &.red {
    .Normal {
      color: $notification-color;
    }
  }
}
