@import "../../app/variables";

.ButtonLink {
  cursor: pointer;

  .Normal {
    color: $blue-A700;

    &:hover {
      text-decoration: underline;
    }
  }

  &.blue {
    .Normal {
      color: $blue-A700;
    }
  }

  &.red {
    .Normal {
      color: $red;
    }
  }
}
