@import "../../app/variables";

.ButtonInfo {
  cursor: pointer;

  &:hover {
    svg {
      fill: $blue-A700 !important;
    }
  }

  .ButtonInfo-Label {
    cursor: pointer;
    color: $blue-A700;
  }
}
