@import "../../app/variables";

.ButtonInfo {
  cursor: pointer;

  &:hover {
    svg {
      fill: $link-color !important;
    }
  }

  .ButtonInfo-Label {
    cursor: pointer;
    color: $link-color;
  }
}
