@import "../../app/variables";

.ButtonInfo {
  cursor: pointer;

  &:hover {
    svg {
      fill: $primary-bg !important;
    }
  }

  .ButtonInfo-Label {
    cursor: pointer;
    color: $primary-bg;
  }
}
