// colors
$black: #0f2228;
$light-black: #3c3c3c;
$lightest-black: #7b7b7b;
$grey: #f2f2f2;
$dark-blue: #006da3;
$blue: #00b6f7;
$green: #b7e000;
$orange: #f7be29;
$red: #ed4200;

// font sizes
$xs: 11px;
$sm: 12px;
$normal: 14px;
$lg: 18px;
$xl: 24px;
$xxl: 56px;

// padding and margin
$xs-space: 5px;
$sm-space: 10px;
$space: 15px;
$lg-space: 20px;
$xl-space: 25px;

// icons sizes
$icon-size: 28px;

// layout dimensions
$map-height: 300px;
$map-width: 800px;

$side-menu-container-width: 330px;

$status-box-height: 180px;
$status-box-width: 190px;
