// colors
$blackest: #000000;
$black: #0f2228;
$light-black: #3c3c3c;
$lightest-black: #7b7b7b;
$light-grey: #f9f9f9;
$white: #ffffff;
$grey: #f2f2f2;
$dark-grey: #eaeaea;
$dark-blue: #006da3;
$blue: #00b6f7;
$green: #b7e000;
$dark-green: #54b91f;
$orange: #f7be29;
$dark-orange: #ff8900;
$red: #ed4200;

$border-color: $grey;

$box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;

// interaction
$primary-bg: $dark-blue;
$primary-bg-active: $blue;
$primary-bg-hover: rgba($blue, 0.3);

$primary-fg: $white;
$primary-fg-active: $white;
$primary-fg-hover: $white;

$secondary-bg: $light-grey;
$secondary-bg-active: $grey;
$secondary-bg-hover: $grey;

$secondary-fg: $light-black;
$secondary-fg-active: $black;
$secondary-fg-hover: $black;

// font sizes
$xs: 11px;
$sm: 12px;
$normal: 14px;
$lg: 18px;
$xl: 24px;
$xxl: 56px;

// padding and margin
$xs-space: 5px;
$sm-space: 10px;
$space: 15px;
$lg-space: 20px;
$xl-space: 25px;

// icons sizes
$sm-icon: 24px;
$normal-icon: 28px;
$lg-icon: 30px;

// layout dimensions
$map-height: 300px;
$map-width: 800px;

$main-menu-height: 60px;
$main-menu-width: 64px;
$main-menu-z-index: 1400; // slightly larger than material design's app bar
$selection-header-z-index: 1100;

// tables
$table-row-border-color: #e6e6e6;
$table-header-color: $light-black;

$side-menu-container-width: 256px;
$side-menu-tab: 5px;
$opened-side-menu-width: $side-menu-container-width + $main-menu-width;

$status-box-height: 150px;
$status-box-width: 160px;

$input-height: 36px;

$font-family: 'PT Sans', sans-serif;
