@import "variables";
@import "flex";
@import "input";
@import "./node_modules/mdi/scss/materialdesignicons.scss";

html {
  font-family: $font-family;
  font-size: $normal;
  color: $black;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  .selection-container {
    background-color: $grey;
    padding: $sm-space $xl-space;
  }

  .link {
    color: $black;
    text-decoration: none;
  }

  .side-menu-container {
    background-color: $grey;
    width: $side-menu-container-width;
  }

  .Content {
    padding: $lg-space;
  }
}

