@import '../../../../usecases/app/variables';

.CollapsibleMenuEntry {
  align-items: center;
  .HoverIcon{
    @extend .hide;
  }
  &:hover {
    .showIcon {
      display: flex;
    }
  }
  .CollapsibleMenu-button{
    cursor: pointer;
  }
}

.hide {
  display: none;
}

@mixin tab-in($numberOfTabs) {
  padding-left: $numberOfTabs*$side-menu-tab;
}

.CollapsibleMenuEntry-level-0 {
  @include tab-in(0);
  font-weight: bold;
  text-transform: uppercase;
}

.CollapsibleMenuEntry-level-1 {
  @include tab-in(1);
}

.CollapsibleMenuEntry-level-2 {
  @include tab-in(2);
}

.CollapsibleMenuEntry-level-3 {
  @include tab-in(3);
}

.CollapsibleMenuEntry-level-4 {
  @include tab-in(4);
}

.CollapsibleMenuEntry-level-5 {
  @include tab-in(5);
}

.CollapsibleMenuEntry-level-6 {
  @include tab-in(6);
}

.CircleMarker {
  align-items: center;
  justify-content: center;
  height: 10px;
  width: 10px;
  margin-left: 6px;

  &.isSelected {
    @extend .circled, .filled;
  }

  &.hasSelectedDescendants {
    @extend .circled, .semi-filled;
  }

  &.circled {
    border: 2px solid $blue;
    border-radius: 10px;
    margin-left: 2px;
  }

  &.filled {
    background-color: $blue;
  }

  &.semi-filled > div {
    height: 6px;
    width: 6px;
    border: 2px solid $grey;
    border-radius: 6px;
  }

}



