@import "../../../app/variables";

.Row {
  display: flex;
  flex-direction: row;
}

.Row-center {
  align-items: center;
  justify-content: center;
}

.Row-right {
  align-items: center;
  justify-content: flex-end;
}
