.ProblemOverview {
  margin-bottom: 20px;

  .ProblemOverview-grouping {
    margin-right: 20px;

    .Normal {
      margin-bottom: 10px;
    }

    .ProblemOverview-title:first-letter {
      text-transform: uppercase;
    }
  }
}