@import '../../../app/variables';

.LanguageSelect {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.LanguageMenuItem {
  padding-left: $space;

  &.isSelected {
    text-decoration: underline;
    color: $dark-blue;
  }

  &:hover {
    color: $dark-blue;
  }

}