@import '../../app/variables';
@import '../../app/flex';

.GatewayDetailsInfo {
  .Overview {
    .Column {
      margin: 0 $xl-space $xl-space 0;
    }

    .MainTitle {
      margin-right: $xl-space;
    }
  }

  .Gateway-image {
    margin-right: 12px;
  }

  .Info {
    &.StatusChange {
      margin-left: $lg-space;
    }
  }
}

.Scrollable-Table {
  overflow: auto;
  max-height: 580px;
}
