@import '../../app/variables';

.Overview {
  h2, h3 {
    margin: 0;
  }

  .Column:first-child {
    width: 100px;
  }

  .Column {
    margin: 0 $xl-space $lg-space 0;
  }

  .display-none {
    display: none;
  }
}
