@import '../../app/variables';

.OverView {
  h2, h3 {
    margin: 0;
  }

  .Column:first-child {
    width: 100px;
  }

  .Column {
    margin: 0 30px 20px 0;

    .Row:first-child {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.Tab-header {
  // TODO we should create a default way of making only the first letter in a tag capitalized
  display: block !important;
  font-weight: bold;
  text-transform: lowercase !important;
}

.Tab-header:first-letter {
  text-transform: uppercase !important;
}