@import '../../app/variables';

.Overview {
  padding: $lg-space;

  h2, h3 {
    margin: 0;
  }

  .Column:first-child {
    width: 100px;
  }

  .Column.Info {
    margin: 0 $xl-space $lg-space 0;
  }

  .display-none {
    display: none;
  }

  .Info {
    &.First-column {
      width: 126px;
    }
  }

  .Xsmall {
    &.ErrorLabel {
      margin-top: 0;
      margin-bottom: 12px;
    }
  }
}
