@import "../../app/variables";

.Indicator-wrapper {
  margin-right: $space;

  .ok {
    background-color: $ok-color;
    color: $white;
  }

  .count {
    background-color: $count-color;
    color: $white;
  }

  .warning {
    background-color: $warning-color;
    color: $white;
  }

  .error {
    background-color: $error-color;
    color: $white;
  }

  .Indicator {
    border-radius: $border-radius;
    cursor: pointer;
    justify-content: space-around;
    margin-bottom: $sm-space;
    height: 118px;
    width: 150px;

    .Indicator-name {
      font-size: $normal;
      text-transform: uppercase;
    }

    .Indicator-unit {
      padding-bottom: $xs-space;
      font-size: $xxl / 2;
    }

    .Indicator-subtitle {
      font-size: $normal;
      text-transform: none;
    }

    .Indicator-value {
      font-size: $xxl;
      text-transform: none;
    }

    .Indicator-icon {
      margin-right: $xs-space;
    }
  }

  &.NoExpectedMeasurementsWidget {
    text-align: center;
    padding: 0;
  }
}
