@import "../../app/variables";

.Indicator-wrapper {
  margin-right: $space;

  .ok {
    background-color: $green;
    color: $white;
  }

  .count {
    background-color: $primary-bg-active;
    color: $white;
  }

  .warning {
    background-color: $orange;
    color: $white;
  }

  .error {
    background-color: $red;
    color: $white;
  }

  .Indicator {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    cursor: pointer;
    justify-content: space-around;
    margin-bottom: $sm-space;
    height: 118px;
    width: 150px;

    .Indicator-name {
      font-size: $normal;
      text-transform: uppercase;
    }

    .Indicator-unit {
      padding-bottom: $xs-space;
      font-size: $xxl / 2;
    }

    .Indicator-subtitle {
      font-size: $normal;
      text-transform: none;
    }

    .Indicator-value {
      font-size: $xxl;
      text-transform: none;
    }

    .Indicator-icon {
      margin-right: $xs-space;
    }
  }

  .Indicator-separator {
    border-radius: $border-radius;
    height: 8px;
    background-color: transparent;

    &.isSelected {
      &.ok {
        @extend .ok;
      }

      &.info {
        background-color: $blue-A700;
      }

      &.warning {
        @extend .warning;
      }

      &.error {
        @extend .error;
      }
    }
  }

  &.NoExpectedMeasurementsWidget {
    text-align: center;
    padding: 0;
  }
}
