@import "../../app/variables";

.Indicator-wrapper {
  margin-right: $sm-space;

  .ok {
    background-color: $green;
    color: $white;
  }

  .info {
    background-color: $grey;
    color: $blackest;
  }

  .warning {
    background-color: $orange;
    color: $white;
  }

  .critical {
    background-color: $red;
    color: $white;
  }

  .Indicator {
    border-radius: 3px;
    box-shadow: $box-shadow;
    height: $status-box-height;
    justify-content: space-around;
    width: $status-box-width;
    margin-bottom: $sm-space;

    .Indicator-name {
      font-size: $normal;
      text-transform: uppercase;
    }

    .Indicator-unit {
      padding-bottom: $xs-space;
    }

    .Indicator-subtitle {
      font-size: $normal;
      text-transform: none;
    }

    .Indicator-value {
      font-size: $xxl;
      text-transform: none;
    }

    .Indicator-icon {
      margin-right: $xs-space;
    }
  }

  .Indicator-separator {
    border-radius: 3px;
    height: 8px;
    background-color: transparent;

    &.isSelected {
      &.ok {
        @extend .ok;
      }

      &.info {
        @extend .info;
      }

      &.warning {
        @extend .warning;
      }

      &.critical {
        @extend .critical;
      }
    }
  }
}
