@import "../../app/variables";

.ReportIndicatorWidget {
  margin-right: $lg-space;

  .Indicator {
    cursor: pointer;
    justify-content: space-around;
    min-width: 112px;

    .Indicator-name {
      font-size: $sm;
      text-transform: uppercase;
    }

    .Indicator-icon-wrapper {
      margin-bottom: $sm-space;

      .Indicator-icon-bg {
        box-shadow: $box-shadow;
        border-radius: 22px;
        width: 44px;
        height: 44px;

        &:hover {
          box-shadow: $box-shadow-hover;
        }

        &.enabled {
          background-color: rgba($blue, 0.85);

          &:hover {
            background-color: rgba($blue, 1);
          }
        }

        &.disabled {
          background-color: rgba($darkest-grey, 0.85);

          &:hover {
            background-color: rgba($darkest-grey, 1);
          }
        }
      }
    }

  }

  .Indicator-separator {
    border-radius: $border-radius;
    background-color: transparent;
    height: 4px;
    margin-top: $xs-space;

    &.isSelected {
      &.enabled {
        background-color: $blue;
      }

      &.disabled {
        background-color: $darkest-grey;
      }
    }
  }
}
