@import "../../../../app/variables";

.Table {
  background: white;
  color: $lightest-black;
  width: 100%;

  th {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid $grey;
  }

  thead {
    tr {
      background: $light-grey;
      color: $light-black;
    }
  }

  tbody {
    td:first-letter {
      text-transform: uppercase;
    }
  }

  th, td {
    padding: 8px;
  }

  td {
    border-bottom: 1px solid $light-grey;
  }

  tr:hover {
    background-color: $light-grey;
  }

  .TableHead-status {
    width: 120px;
  }
}