@import "../../../app/variables";

.Summary {
  padding-bottom: $sm-space;
  padding-left: $sm-space;
  padding-right: $sm-space;
  padding-top: $sm-space;

}

.Summary-name {
  text-transform: uppercase;
}

.Summary-count {
  text-transform: none;
  font-size: $lg;
}
