@import "../../../app/variables";

.Summary {
  padding-left: $space;
  color: $light-black;

  .Summary-title {
    margin-bottom: 5px;
    color: $lightest-black;
  }

  .Summary-value {
    color: $light-black;
  }
}
