@import "../../../app/variables";

.DropdownSelector {
  margin-right: $lg-space;

  .DropdownSelector-Text {
    color: rgba($black, 0.87);
    background-color: $secondary-bg;
    padding: 4px 4px 3px 10px;
    border: 2px solid transparent;
    border-radius: 3px;

    &:hover {
      background-color: $secondary-bg-hover;
    }

    &.isOpen {
      border: 2px solid $dark-blue;
      border-radius: 3px;
      background-color: $secondary-bg-active;
    }

    .Icon {
      margin-left: $sm-space;
    }
  }
}

.DropdownSelector-menu {
  .separation-border {
    margin: 0 5px;
    border-bottom: 1px solid $grey;
  }
}
