@import "../../../app/variables";

.DropdownSelector {
  margin-right: $lg-space;

  .DropdownSelector-Text {
    color: rgba($black, 0.87);
    background-color: $secondary-bg;
    padding: 4px 4px 3px 10px;
    border: 2px solid transparent;
    border-radius: 3px;

    &:hover {
      background-color: $secondary-bg-hover;
    }

    &.isOpen {
      border: 2px solid $dark-blue;
      border-radius: 3px;
      background-color: $secondary-bg-active;
    }

    .Icon {
      margin-left: $sm-space;
    }
  }
}

.DropdownSelector-menu {

  .SearchBox {
    position: relative;


    .SearchBox-input {
      $border-focused: 2px;
      $border-unfocused: 1px;

      margin: $border-focused - $border-unfocused 5px;
      padding: 5px 20px 5px 5px;
      border: $border-unfocused solid $grey;
      border-radius: 7px;
      &:focus {
        border: $border-focused solid $blue;
        border-radius: 7px;
        outline: none;
        margin: 0 5px;
      }
    }
  }

  .separation-border {
    margin: 0 5px;
    border-bottom: 1px solid $grey;
  }
}
