@import "../../../app/variables";

.SearchBox {
  cursor: text;
  padding: $sm-space;

  input {
    width: 100%;
    height: 30px;
    border: none;
    text-indent: $sm-space;
    font-size: $normal;
    font-family: $font-family;
  }
}
