@import '../../app/variables';

.Tabs {
  .TabList {
    align-items: flex-end;

    .Tab {
      cursor: pointer;

      .Tab-header {
        font-weight: bold;
        font-size: $normal;
        text-transform: capitalize;
        margin-right: $space;
      }

    }
    .TabUnderline {
      border-bottom: solid 3px $dark-blue;

      &.isSelected {
        border-bottom: solid 3px $blue;
      }
    }

    .TabOption {
      font-size: $xs;
      background-color: $dark-grey;
      margin-right: $sm-space;
      margin-bottom: $xs-space;
      padding: 4px 4px 2px 4px;
      text-transform: uppercase;
      border-radius: 2px;

      &.isSelected {
        font-weight: bold;
        background-color: $blue;
        color: $white;
      }
    }

    .TabHeaders + .TabSettings{ //To get correct placement of TabSettings if there are no options.
      flex: 1;
    }

    .TabContent {
    }
  }
}