@import "../../app/variables";

.Table {
  background: white;
  width: 100%;

  th {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid $grey;

    &.actionDropdown {
      text-align: right;
      width: 36px;
    }
  }

  thead {
    tr {
      background: $grey;
      color: $light-black;

      &:hover {
        background-color: $grey;
      }

      th.first {
        padding-left: $space;
      }
    }
  }

  th {
    padding: $sm-space;
  }

  td {
    padding: 2px $sm-space;
    border-bottom: 1px solid $light-grey;
  }

  tr:hover {
    background-color: $light-grey;
  }

  .TableHead-status {
    max-width: 120px;
  }

  td.number, th.number {
    text-align: right;
    padding-right: 20px;
  }
}
