@import "../../app/variables";

.Table {
  background: white;
  width: 100%;

  th {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid $grey;
    padding: $sm-space;

    &.actionDropdown {
      text-align: right;
      width: 36px;
    }
  }

  thead {
    tr {
      background: $grey;
      color: $light-black;

      &:hover {
        background-color: $grey;
      }

      th.first {
        padding-left: $space;
      }
    }
  }

  td.first {
    padding-left: $space;
  }

  td.icon {
    padding: 0 2px 0 $sm-space;
  }

  td {
    padding: $sm-space;
    border-bottom: 1px solid $light-grey;

    &.actionDropdown {
      width: 0;
      padding: 0;
    }

    .StatusChanged {
      .PopoverMenu {
        padding-right: $xs-space;
      }
    }
  }

  tr:hover {
    background-color: $light-grey;
  }

  .TableHead-status {
    max-width: 120px;
  }

}
