@import "../../app/variables";

.Table {
  background: white;
  width: 100%;

  th {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid $grey;
    padding: $sm-space;

    &.actionDropdown {
      text-align: right;
      width: 36px;
    }

    &.Link {
      width: 86px;
      font-weight: normal;
      text-transform: lowercase;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  thead {
    tr {
      background: $grey;
      color: $light-black;
      height: 44px;

      &:hover {
        background-color: $grey;
      }

      th.first {
        padding-left: $space;
      }
    }
  }

  td {
    padding: $sm-space;
    border-bottom: 1px solid $light-grey;

    &.first {
      padding-left: $space;
    }

    &.icon {
      padding: 0 24px;
      text-align: center;
    }

    &.actionDropdown {
      width: 0;
      padding: 0;
    }

    .ActionsDropdown-list {
      .PopoverMenu {
        padding-right: $xs-space;
      }
    }
  }

  tr:hover {
    background-color: $light-grey;
  }
}
