@import "../../app/variables";

.IconStatus {
  border-radius: 20px;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 8px 3px 8px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  &.ok {
    background: $green;
  }

  &.warning {
    background: $orange;
  }

  &.unknown {
    background: $lightest-black;
  }

  &.error {
    background: $red;
  }

  &.newMeter {
    background: $blue;
  }
}
