@import "../../app/variables";

.IconStatus {
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  padding: 0 8px;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  &.ok {
    background: $ok-color;
  }

  &.warning {
    background: $warning-color;
  }

  &.unknown {
    background: $unknown-color;
  }

  &.error {
    background: $error-color;
  }

  &.newMeter {
    background: $new-meter-color;
  }
}
