@import "../../app/variables";

.IconButton {
  cursor: pointer;
  border-radius: $border-radius !important;

  svg {
    color: $lightest-black !important;

    &:hover {
      color: $black !important;
    }
  }

  &.IconSelection {
    background-color: $white !important;
    border-radius: 20px !important;
    box-shadow: $box-shadow;
    border: 2px solid $dark-blue !important;
  }

  &.IconSelection:hover {
    border: 2px solid $blue !important;
  }
}
