@import "../../app/variables";

.IconButton {
  cursor: pointer;
  border-radius: $border-radius !important;

  svg {
    color: $primary-fg !important;

    &:hover {
      color: $black !important;
    }
  }
}
