@import "../../../../app/variables";

.Status {
  align-items: center;
  .Status-text {

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.StatusIcon {
  border-radius: 20px;
  display: inline-block;
  font-size: $sm;
  font-weight: bold;
  min-width: 30px;
  padding: 4px 8px;
  text-align: center;
  text-transform: uppercase;

  &.ok {
    background: $dark-green;
    color: $white;
  }

  &.warning {
    background: $orange;
    color: $white;
  }

  &.critical {
    background: $red;
    color: $white;
  }
}
