@import "../../../app/variables";

.Legend {
  th {
    &.Link {
      font-weight: normal;
      text-transform: lowercase;
      vertical-align: middle !important;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  td {
    padding: 2px;
  }

  .k-grid-container {
    .k-grid-content {
      overflow: hidden;
    }
  }
}

.recharts-legend-item {
  cursor: pointer;
}
