@import "../../../app/variables";

.Legend {
  .icon {
    width: 24px;
  }

  td {
    &.icon {
      padding: 0 8px;
      text-align: center;

      button {
        min-width: 24px !important;
        line-height: inherit !important;
      }
    }
  }
}
