@import "../../../app/variables";

.Legend {
  margin-top: $lg-space;

  .icon {
    width: 24px;

  }

  td {
    &.icon {
      padding: 0 24px;
      text-align: center;

      button {
        min-width: 24px !important;
        line-height: inherit !important;
      }
    }
  }
}
