@import "../../../../app/variables";

.Column {
  display: flex;
  flex-direction: column;
}

.Column-center {
  justify-content: center;
}

.Column-end {
  justify-content: flex-end;
}

.Column-space-between {
  justify-content: space-between;
}