@import "../../app/variables";

.DropdownSelector {
  margin-right: $lg-space;

  .DropdownSelector-Text {
    color: rgba($black, 0.87);
    background-color: $secondary-bg;
    padding: 4px 4px 3px 10px;
    border: 2px solid transparent;
    border-radius: $border-radius;
    margin-bottom: 16px;

    &:hover {
      background-color: $secondary-bg-hover;
    }

    &.isOpen {
      border: 2px solid $blue;
      border-radius: $border-radius;
      background-color: $secondary-bg-active;
    }

    .Icon {
      margin-left: $sm-space;
    }
  }
}

.DropdownSelector-menu {
  margin: $sm-space $xs-space;

  .SearchBox {
    position: relative; // Used to position the search icon.
    margin-bottom: $sm-space;
    display: flex;

    .SearchBox-input {
      $border-focused: 2px;
      $border-unfocused: 1px;

      flex: 1;
      font-size: $normal;
      margin: $border-focused - $border-unfocused 5px;
      padding: 8px 20px 8px 5px;
      border: $border-unfocused solid $grey;
      border-radius: $border-radius;

      &:focus {
        border: $border-focused solid $blue;
        outline: none;
        margin: 0 5px;
      }
    }
  }
  .DropdownSelector-content {
    max-height: 420px;
    overflow-y: scroll;
  }
  .separation-border {
    margin: 0 5px;
    border-bottom: 1px solid $grey;
  }
}
