@import "../../app/variables";

.DropdownMenu {
  &:hover {
    .IconButton {
      fill: $blue-A400 !important;
    }
  }

  .DropdownMenu-dropdown {
    &:hover {
      border: 1px solid $blue-A400 !important;
    }
  }
}

.DropdownMenu-MenuItem {
  &:first-letter {
    text-transform: uppercase;
  }
}
