@import "../../app/variables";

.DropdownMenu {
  align-items: flex-start;

  &:hover {
    .IconCalendar {
      fill: $blue !important;
    }
  }

  .DropdownMenu-dropdown {
    &:hover {
      border: 1px solid $blue !important;
    }
  }
}

.DropdownMenu-MenuItem:first-letter {
  text-transform: uppercase;
}
