@import "../../app/variables";

.DropdownSelector {
  margin-right: $lg-space;

  .DropdownSelector-Text {
    color: $primary-fg;
    background-color: $secondary-bg;
    padding: 4px 4px 3px 10px;
    border: 2px solid transparent;
    border-radius: $border-radius;
    margin-bottom: 16px;

    &:hover {
      background-color: $primary-bg-hover;
    }

    &.isOpen {
      border: 2px solid $blue-A700;
      border-radius: $border-radius;
      background-color: $primary-bg-hover;
    }

    .Icon {
      margin-left: $sm-space;
    }
  }
}

.DropdownSelector-menu {
  margin: $sm-space $xs-space;

  .DropdownSelector-content {
    max-height: 420px;
    overflow-y: scroll;
  }

  .separation-border {
    margin: 0 5px;
    border-bottom: 1px solid $grey-200;
  }
}
