@import "../../app/variables";

.DropdownSelector {
  margin-right: $lg-space;

  .DropdownSelector-Text {
    padding: 4px 4px 3px 10px;
    border: 2px solid transparent;
    border-radius: $border-radius;
    margin-bottom: 16px;

    &.isOpen {
      border-radius: $border-radius;
    }

    .Icon {
      margin-left: $sm-space;
    }
  }
}

.DropdownSelector-menu {
  margin: $sm-space $xs-space;

  .DropdownSelector-content {
    max-height: 420px;
    overflow-y: scroll;
  }

}
