@import "../../app/variables";

.SearchBox {
  position: relative; // Used to position the search icon.
  margin-bottom: $sm-space;
  display: flex;

  .SearchBox-input {
    $border-focused: 2px;
    $border-unfocused: 1px;

    flex: 1;
    font-size: $normal;
    margin: $border-focused - $border-unfocused 5px;
    padding: 8px 20px 8px 5px;
    border: $border-unfocused solid $grey;
    border-radius: $border-radius;

    &:focus {
      border: $border-focused solid $blue;
      outline: none;
      margin: 0 5px;
    }
  }

  &.SearchBox-list {
    width: 240px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 12px;
  }
}
