@import "../../app/variables";

.LoginContainer {
  margin-top: $xl-space * 2;
  flex: 1;
  align-items: center;

  .customerLogo {
    margin-bottom: 20px;

    img {
      max-width: 200px;
    }
  }

  input {
    cursor: pointer;
    margin-bottom: $space;
    width: 250px;
  }

  .error-message {
    margin-top: $lg-space;
    color: $red;
  }
}
