@import "../../../app/variables";
@import "../../../app/material-design";

.LoginContainer {
  background: url(../../../assets/images/login_bg.jpg) bottom left no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  align-items: center;

  .customerLogo {
    margin: 20px 0;
  }

  .LoginPaper {
    padding: 24px !important;
  }
}
