@import "../../app/variables";

.LoginContainer {
  margin-top: $xl-space * 2;
  flex: 1;
  align-items: center;

  .customerLogo {
    margin-bottom: 20px;
  }

  .LoginPaper {
    padding: 60px;

    .TextField {
      margin-bottom: 20px;
      input {
        /*
        there is a builtin rule somewhere that I cannot find,
        which messes up the element when you focus it without
        having written anything yet. compensate for that rule..
         */
        margin-left: -10px;
      }
    }
  }

  .error-message {
    margin-top: $lg-space;
    color: $red;
  }
}
