@import "../../../app/variables";

.Normal {
  line-height: 1;
}

.Bold {
  font-weight: bold;
}

.Small {
  font-size: $sm;
}

.Xsmall {
  font-size: $xs;
}

.text-align-right {
  text-align: right;
}
