@import '../../app/variables';

.AppSwitchDropdown {
  width: $main-menu-width;

  .Xsmall {
    margin-top: $sm-space;
  }
}

.ActionsDropdown {
  margin: $sm-space;
}

.ActionsDropdown-Admin {
  margin: 0 $space $sm-space $space;
}

.SelectionResultActionDropdown {
  justify-content: flex-end;
  padding-right: $space;
  padding-bottom: $sm-space;
}
