@import "../../../../app/variables";

.InlineEditInput {
  .ButtonLink {
    padding-bottom: 10px;

    .Normal {
      margin-right: $space;
    }
  }

  hr {
    border-width: 1px !important;
  }
}

