@import "../../../app/variables";

.SelectionContentBox {
  th {
    border-top: 1px solid $grey;
  }
}

.SelectionDropdownOptions {
  padding-left: 38px;
}

.Foldable {
  &.Thresholds {
    margin-bottom: $space;

    .Thresholds-container {
      padding-left: 16px;

      .label {
        padding-top: 10px;
        margin-left: 8px;
        color: $lightest-black;
      }
    }

    .Foldable-title {
      padding-bottom: 0;
    }
  }
}
