@import "../../../app/variables";


.SelectionDropdownOptions {
  padding-left: 38px;
}

.Foldable {
  &.Thresholds {
    margin-bottom: $space;

    .Thresholds-container {
      padding-left: 16px;

      .label {
        padding-top: 10px;
        margin-left: 8px;
        color: $primary-fg;
      }
    }

    .Foldable-title {
      padding-bottom: 0;
    }
  }
}
