@import '../../../app/variables';

.PaginationControl {
  margin: 20px 0 10px;

  .PageNumber {
    /* important because of Material Design's inlined CSS rules */
    min-width: 30px !important;
    max-width: 50px;

    &:disabled {
      background: $blue !important;
      color: $white !important;
    }
  }
}