@import '../app/variables';

.MeterGraphics {
  width: 200px;
}

.OverView {
  h2, h3 {
    margin: 0;
  }

  .Column:first-child {
    width: 100px;
  }

  .Column {
    margin: 0 30px 20px 0;

    .Row:first-child {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}