server.port=8081
spring.datasource.url=jdbc:postgresql://{{ salt['grains.get']('postgresql_server') }}:5432/geoservicedb
spring.datasource.username=geoservicedb-app
spring.datasource.password=ftypTI52S66jcbLwQ072AlrCndsgC4Qe

liquibase.url=jdbc:postgresql://{{ salt['grains.get']('postgresql_server') }}:5432/geoservicedb
liquibase.user=geoservicedb-app
liquibase.password=ftypTI52S66jcbLwQ072AlrCndsgC4Qe
