@import "../../../app/variables";

.MeterTabs {
  .MeterListContent {
    position: relative;

    .SelectionResultActionDropdown {
      position: absolute;
      top: -32px;
      right: 0;
    }
  }
}
