@import "../../../app/variables";

.AddWidgetButton {
  position: absolute;
  top: $top-menu-height + $space;;
  right: $lg-space;
  z-index: $main-menu-z-index + 1;

  &:hover {
    button {
      border: 1px solid $primary-bg-active !important;
    }

    span {
      color: $blackest !important;
    }

    svg {
      fill: $blackest !important;
    }
  }
}
