@import "../../../app/variables";

.ColoredBox {
  cursor: pointer;
  height: $status-box-height;
  width: $status-box-width;

  margin-bottom: $sm-space;
  margin-right: $sm-space;
  margin-top: $sm-space;

  &.ok {
    background-color: $green;
    color: white;
  }

  &.info {
    background-color: $grey;
    color: black;
  }

  &.warning {
    background-color: $orange;
    color: white;
  }

  &.critical {
    background-color: $red;
    color: white;
  }

  .ColoredBox-name {
    font-size: $normal;
    text-transform: uppercase;
  }

  .ColoredBox-subtitle {
    font-size: $normal;
    text-transform: none;
  }

  .ColoredBox-unit {
    font-size: $sm;
    text-transform: none;
  }

  .ColoredBox-value {
    font-size: $xxl;
    text-transform: none;
  }
}


