@import "../../../app/variables";

.Status {
  align-items: center;

  .StatusIcon {
    display: inline-block;
    height: 18px;
    margin-right: 4px;
    width: 18px;

    &.ok {
      background: $green;
    }

    &.warning {
      background: $orange;
    }

    &.critical {
      background: $red;
    }
  }
  .Status-text {

    &:first-letter {
      text-transform: uppercase;
    }
  }
}
