@import '../variables';

.AdminApp {
  @import "../material-design";

  .SideMenuContainer {
    width: $lg-space;

    &.isSideMenuOpen {
      width: $side-menu-container-width + $lg-space;
    }
  }

  .MainMenuToggleIcon {
    left: $sm-space;

    &.isSideMenuOpen {
      left: $side-menu-container-width;
    }
  }
}
