@import "../../../../app/variables";

.MainMenuToggleIcon {
  position: fixed;
  bottom: $sm-space;
  left: 12px;
  z-index: $main-menu-z-index;

  &.isSideMenuOpen {
    left: 174px;
  }

  &:hover {
    .MainMenuToggleIcon-Button {
      background-color: $primary-bg-hover !important;
      box-shadow: $box-shadow-hover !important;

      svg {
        fill: $blackest !important;
      }
    }
  }
}
