@import "../../../../app/variables";

.MainMenuItem {
  cursor: pointer;
  padding: 0;
  height: $main-menu-item-height;

  &:hover {
    border-radius: $menu-item-border-radius;
  }

  &.isSelected {
    border-radius: $menu-item-border-radius;
    font-weight: bold;
  }

  .MainMenuItem-icon {
    margin-right: $sm-space;
  }
}
