@import '../../../app/variables';

.OrganisationForm {

  .ButtonSave {
    align-self: flex-start;
  }

  .preview-container {
    padding: $xs-space;

    img {
      max-height: 200px;
      max-width: 200px;
    }
  }

  .configuration-section:not(:first-child) {
    border-top: $divider;
    margin-top: $xl-space;
    padding-top: $xl-space;
  }
}
