[Unit]
Description=Elvaco Geocode
After=syslog.target network.target

[Service]
User=mvp
WorkingDirectory=/opt/elvaco/geocode-current
ExecStart=/opt/elvaco/geocode-current/bin/geocode

[Install]
WantedBy=multi-user.target
