@import "../../../app/variables";

.Icon {
  width: $normal-icon;
  height: $normal-icon;

  .mdi {
    font-size: $normal-icon;
    line-height: 1;

    &.small {
      width: $sm-icon;
      height: $sm-icon;
      font-size: $sm-icon;
    }

    &.large {
      font-size: $lg-icon;
    }
  }

  &.Icon-Button {
    color: rgba($black, 0.7);

    &:hover {
      color: rgba($black, 1);
    }
  }
}
