@import "../../../app/variables";

.Icon {
  width: $normal-icon;
  height: $normal-icon;

  .mdi {
    font-size: $normal-icon;
    line-height: 1;

    &.small {
      width: $sm-icon;
      height: $sm-icon;
      font-size: $sm-icon;
    }

    &.large {
      font-size: $lg-icon;
    }
  }

  &.Icon-Button {
    border-radius: 3px;
    padding: 3px 3px 0 3px;
    background-color: $secondary-bg;
    color: $secondary-fg;
    cursor: pointer;

    &:hover {
      background-color: $secondary-bg-hover;
      color: $secondary-fg-hover;
    }
  }
}
