@import "../../../app/variables";

.SelectionMenuWrapper {
  position: fixed;
  top: 0;
  left: $main-menu-width;
  right: 0;
  z-index: $selection-header-z-index;
  padding: 0 $space 0 $lg-space;
  background-color: $main-menu-color;
  height: $main-menu-height;
  justify-content: space-between;
  box-shadow: $box-shadow;

  .SelectionMenu {
    color: $blackest;
    align-items: center;
  }

  .SelectionMenuSummary {
    color: $white;

    .Normal {
      margin-right: $space;
    }

    .SelectionIcon-margin {
      margin-right: 15px;
    }
  }
}

a.Logo {
  display: flex;
}

