@import '../../../app/variables';

.SavedSelection-ListItem {
  cursor: pointer;

  .SavedSelection-Name {
    height: $list-item-height;

    .Medium {
      padding-left: 38px;

      &.CreateNewSelection {
        padding-left: 10px;
      }
    }
  }
}
