@import "../../app/variables";

.MainMenuContainer {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: $main-menu-width;
  background-color: $dark-blue;
  z-index: $main-menu-z-index;

  .MenuItems {
    flex: 1;
  }

  .ProfileWrapper {
    padding: $sm-space 0;
    color: $white;

    &:hover {
      background: $primary-bg-hover;
      color: $primary-fg-hover;
    }
  }
}
