@import '../../../app/variables';

.UserSelection-ListItem {
  .UserSelectionName {
    height: $list-item-height;

    .Normal {
      padding-left: 38px;
    }
  }
}

.UserSelectionAction {
  padding-right: 13px;
  transform: scale(0.8);
}
