@import "../../../app/variables";

.MainLogo-container {
  width: $side-menu-container-width;

  .MainLogo {
    padding: $space;
    justify-content: flex-start;

    img {
      height: 28px;
    }

    .MainLogo-title {
      margin-left: $space;
      font-size: 30px;
      color: $blue;
      line-height: 1;
    }
  }
}
