@import "../../../app/variables";

.MenuUnderline {
  $height: 4px;

  position: fixed;
  top: 56px;
  visibility: hidden;
  height: $height;
  width: $top-menu-item-width;
  border-top-left-radius: $height * 2;
  border-top-right-radius: $height * 2;
}

.TopMenu-Item {
  &:hover {
    .MenuUnderline {
      visibility: visible;
    }
  }
}
