@import "../../../app/variables";

.ProfileContainer {
  color: $white;
  width: 86px;
  height: $main-menu-height;

  .TopMenu-Item {
    cursor: pointer;
  }

  .Profile {
    padding: $sm-space $space;
    justify-content: center;

    .Username {
      text-align: center;
    }
  }
}
