@import "../../../app/variables";

.TopMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $selection-header-z-index;
  padding: 0 0 0 $sm-space;
  background-color: $main-menu-color;
  height: $main-menu-height;
  justify-content: space-between;
  box-shadow: $box-shadow;

  .SelectionMenu {
    color: $blackest;
    align-items: center;
  }

  .SelectionSearch {
    position: fixed;
    left: $opened-side-menu-width + $lg-space;

    &.SelectionMenuSummary {
      color: $white;

      .Normal {
        margin-right: $space;
      }

      .SelectionIcon-margin {
        margin-right: 15px;
      }
    }
  }

  .TopMenu-RightContent {
    margin-right: $space;
  }
}
