@import "../../../app/variables";

.TopMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $selection-header-z-index;
  padding: 0 0 0 $sm-space;
  background-color: $blue-900;
  height: $top-menu-height;
  justify-content: space-between;
  box-shadow: $box-shadow;

  .TopMenu-LeftContent {
    color: $black;
    align-items: center;

    @media all and (max-width: $global-search-max-width - ($global-search-scale-width * 3)) {
      & {
        padding-left: 8px;
      }
    }
  }

  .TopMenu-RightContent {
    margin-right: $space;

    .TopMenu-Item {
      height: $top-menu-height;
      width: $top-menu-item-width;
      cursor: pointer;

      .Notifications {
        position: relative;

        .Notification {
          position: relative;
          height: 8px;
          width: 8px;
          border-radius: 5px;
          background: $notification-color;
          border: 1px solid $blue-A900;
          top: 22px;
          left: 7px;
          margin-bottom: -8px;
        }
      }

      .PopoverMenu {
        height: $top-menu-height;
        width: $top-menu-item-width;
      }
    }
  }
}
