@import '../../../../app/variables';

.TreeListItem {
  $iconSize: 20px;
  $iconPadding: $xs-space;

  .PrimaryText {
    margin-left: $xs-space;
  }

  button {
    padding: 0 !important;
    height: 2 * $iconPadding + $iconSize !important;
    width: 2 * $iconPadding + $iconSize !important;
    margin-right: 11px !important;

    &.ZoomButton, &.AddToListButton, &.InfoButton {
      margin-right: 0 !important;
      height: $iconSize !important;
      width: $iconSize !important;
    }

    svg {
      height: $iconSize !important;
      width: $iconSize !important;

      &.Indicator-icon {
        &:hover {
          fill: $blue !important;
        }
      }
    }
  }
}
