@import '../../../../app/variables';

.TreeListItem {
  $iconSize: 22px;
  $iconPadding: $xs-space;

  &:first-letter {
    text-transform: uppercase;
  }

  button {
    padding: 0 !important;
    height: 2 * $iconPadding + $iconSize !important;
    width: 2 * $iconPadding + $iconSize !important;
    margin-right: 11px !important;

    &.ZoomButton, &.AddToListButton {
      margin-right: 0 !important;
    }

    svg {
      height: $iconSize !important;
      width: $iconSize !important;
    }
  }
}
