@import "../../app/variables";

.LinkItem {
  background-color: $grey;
  cursor: pointer;
  font-size: $xs;
  font-weight: normal;
  margin: 0 $lg-space;
  padding: $space 0 $space 0;
  text-transform: uppercase;
}
