@import "../../../app/variables";

.SelectionSearch-Container {
  padding: 0 $lg-space;
  background-color: $white;
  height: $main-menu-height;

  .SelectionSearch {
    color: $blackest;
    align-items: center;

    .Normal {
      margin-left: $sm-space;
      text-transform: lowercase;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}

