@import '../../app/variables';

$toolbar-height: 48px;

.Toolbar {
  height: $toolbar-height;
  border-bottom: $divider;
  padding-right: $space;

  .Toolbar-ViewSettings {
    border-right: $divider;
    padding-right: $space;
    margin-right: $space;
  }

  .Toolbar-RightPane {
    align-self: center;
  }

  .ToolbarIconButton {
    &:hover {
      background-color: $primary-bg-hover !important;

      svg {
        fill: $primary-bg !important;
      }
    }

    &.disabled, &.disabled:hover {
      color: $divider-color !important;
      background-color: transparent !important;

      svg {
        fill: $divider-color !important;
      }
    }

    &.isSelected {
      svg {
        fill: $primary-bg !important;
      }
    }
  }

  .ToolbarActionButton {
    color: $primary-fg !important;

    svg {
      fill: $primary-fg !important;
    }

    &:hover {
      color: $black !important;

      svg {
        fill: $black !important;
      }
    }

    &.disabled, &.disabled:hover {
      color: $divider-color !important;

      svg {
        fill: $divider-color !important;
      }
    }
  }
}

@media all and (max-width: 1277px) {
  .ReportTabs {
    .Toolbar {
      padding-right: 0;
      margin-bottom: $xl-space;

      .Toolbar-RightPane {
        padding-top: 5px;
        height: $toolbar-height;
        border-bottom: $divider;
        width: 100%;
      }
    }
  }
}
