@import '../../app/variables';

.PaginationControl {
  margin: $space 0 $space;

  .rounded {
    min-height: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
    width: 40px !important;
    border-radius: 20px !important;
  }

  .PageNumber {
    @extend .rounded;

    &:disabled {
      background: $primary-bg !important;
      color: $white !important;
      box-shadow: $box-shadow;
    }
  }

  .PageNumber-arrow {
    @extend .rounded;
  }

  .PaginationDots {
    width: 40px;
  }
}
