@import "../../../app/variables";

.MainLogo {
  padding: $space;

  img {
    height: 28px;
  }

  .MainLogo-title {
    margin-left: $space;
    font-size: 30px;
    color: $blue;
    line-height: 1;
  }
}
