@import "../../../app/variables";

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.Row-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &.Row-space-between {
    justify-content: space-between;
  }
}

.Row-center {
  align-items: center;
  justify-content: center;
}

.Row-middle {
  align-items: center;
}

.Row-left {
  align-items: center;
  justify-content: flex-start;
}

.Row-right {
  align-items: center;
  justify-content: flex-end;
}

.Row-bottom {
  align-items: flex-end;
}
