@import '../../app/variables';

// The style classes are overriding the classes in react-dates/lib/css/_datepicker.css
.DateRangePicker {

  .DateRangePicker_picker {
    position: static !important;
    margin-top: 6px;

    $day-width-height: 39px;
    $range-bg-color: rgba($primary-bg, 0.7);

    .CalendarDay__default {
      width: $day-width-height !important;
      height: $day-width-height !important;
      border: none;
      color: $black !important;
      background: $white !important;
      border-radius: $day-width-height / 2;
    }

    .CalendarDay__hovered_offset {
      background: $secondary-bg !important;
      border: 1px double $border-color !important;
      color: inherit !important;
    }

    .CalendarDay__default:hover {
      background: $secondary-bg-hover !important;
      border: none;
      color: inherit !important;
    }

    .CalendarDay__selected_span {
      background: $range-bg-color !important;
      border: none;
      color: $white !important;
    }

    .CalendarDay__selected,
    .CalendarDay__selected:active,
    .CalendarDay__selected:hover {
      background: $primary-bg-dark !important;
      border: none;
      color: $white !important;
    }

    .CalendarDay__selected_span:active,
    .CalendarDay__selected_span:hover {
      background: $range-bg-color !important;
      border: none;
      color: $white !important;
    }

    .CalendarDay__hovered_span,
    .CalendarDay__hovered_span:hover {
      background: $range-bg-color !important;
      border: none;
      color: $white !important;
    }

    .CalendarDay__hovered_span:active {
      background: $primary-bg-dark !important;
      border: none;
      color: $white !important;
    }

    .CalendarDay__today,
    .CalendarDay__today:hover,
    .CalendarDay__today:active {
      color: $white !important;
      background: $calendar-today-color !important;
    }

    .DayPicker__withBorder {
      box-shadow: none !important;
    }
  }

  .DayPicker_transitionContainer {
    width: 660px !important;
  }

  .DayPickerNavigation_button__horizontal {
    padding: 0;
    height: 40px;
    width: 40px;
    top: 10px;
    border-radius: 20px;

    &:hover {
      border: 1px solid $primary-bg;

      .DayPickerNavigation_svg__horizontal {
        fill: $primary-bg;
      }
    }

    &:active {
      outline: none;
      background: $primary-bg-hover;
    }
  }

  .DayPickerNavigation_svg__horizontal {
    padding: 10px 0 0 10px;
  }

  .DateRangePickerInput__withBorder {
    border: $border !important;
    border-radius: $border-radius !important;

    .DateInput {
      margin: 0;
      padding: 0;
      background: $white;
      position: relative;
      display: inline-block;
      width: 130px;
      border-radius: $border-radius;
      vertical-align: middle;

      .DateInput_input {
        font-size: $normal !important;
        font-family: inherit !important;
        width: 80% !important;
        height: inherit !important;
        line-height: 16px !important;
        border-top: 0 !important;
        border-right: 0 !important;
        border-bottom: 2px solid transparent !important;
        border-left: 0 !important;
        border-radius: $border-radius;
      }

      .DateInput_fang {
        display: none !important;
      }
    }
  }
}

.Dialog {
  &.PeriodConfirmDialog {
    width: 690px !important;
  }
}


