@import "../../../app/variables";

.DonutGraph {
  background: $grey;
  cursor: pointer;
  height: $status-box-height;
  width: $status-box-width;

  margin-bottom: $sm-space;
  margin-right: $sm-space;
  margin-top: $sm-space;

  .DonutGraph-name {
    font-size: $normal;
    text-transform: uppercase;
  }

  .DonutGraph-subtitle {
    font-size: $normal;
    text-transform: none;
  }

  .DonutGraph-unit {
    font-size: $sm;
    text-transform: none;
  }

  .DonutGraph-value {
    font-size: $xxl;
    text-transform: none;
  }

  .recharts-wrapper {
    margin: 0 auto;
  }
}
