@import "../../../app/variables";

.Foldable {
  &.FoldableMainMenuItem {
    .Foldable-title {
      padding: 0;
      height: $main-menu-item-height;

      &:hover {
        border-radius: $menu-item-border-radius;
      }

      &.isSelected {
        border-radius: $menu-item-border-radius;
      }
    }

    .MainMenuItem {
      padding-left: 0;

      &:hover {
        background-color: transparent;
      }
    }

    .Foldable-content {
      padding-left: 0;
    }
  }
}
