@import "../../../app/variables";

.Foldable {
  .Foldable-title {
    padding: 0 0 $sm-space $sm-space;
  }

  .Foldable-arrow {
    &.isVisible {
      transform: rotate(90deg);
      transition: transform 400ms linear;
    }
  }

  .Foldable-content {
    display: none;

    &.isVisible {
      display: block;
    }
  }
}

.MainMenuItem {
  padding-left: 30px;
}
