server.port=8080
spring.datasource.url=jdbc:postgresql://{{ salt['grains.get']('postgresql_server') }}:5432/mvpdb
spring.datasource.username=mvpdb-app
spring.datasource.password=mvp-password

spring.rabbitmq.host=rabbitmq.elvaco.se
spring.rabbitmq.username=app.rabbitmq.mvp
spring.rabbitmq.password=Yk"!43iTpeToL1!1WjXgwl!89Tq1
spring.rabbitmq.listener.simple.default-requeue-rejected=false

mvp.consumers.rabbit.queueName={{ salt['grains.get']('env')[0] }}
mvp.consumers.rabbit.responseRoutingKey=metering-prod
mvp.superadmin.email=mvpadmin@elvaco.se
mvp.superadmin.password=PmpQnaFaAFD0b867fyZoGFSyb32Z1BFr

# Geoservice callback urls
mvp.url=http://evo:8080
geo-service.url=http://geoservice:8081

spring.liquibase.url=jdbc:postgresql://{{ salt['grains.get']('postgresql_server') }}:5432/mvpdb
spring.liquibase.user=mvpdb-admin
spring.liquibase.password=crA4JNdA8Z^N35&5u@!
spring.liquibase.parameters.application_user="mvpdb-app"
spring.liquibase.parameters.application_password=mvp-password
spring.liquibase.parameters.application_database=mvpdb

zuul.sensitiveHeaders=Cookie,Set-Cookie

zuul.routes.batches.path=/api/v1/batches/**
zuul.routes.batches.url=http://device-catalog:8085/api/v1/batches/

zuul.routes.devices.path=/api/v1/devices/**
zuul.routes.devices.url=http://device-catalog:8085/api/v1/devices/
