<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <property name="LOGS" value="/var/log/elvaco/mvp"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <appender name="MeteringMessageLoggerRollingFileAppender"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS}/meteringmessages.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d %m%n</Pattern>
      <charset>utf8</charset>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOGS}/meteringmessages-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>500MB</maxFileSize>
      <maxHistory>3</maxHistory>
      <totalSizeCap>2GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender name="OutgoingMessageLoggerRollingFileAppender"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS}/outgoingmessages.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d %m%n</Pattern>
      <charset>utf8</charset>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOGS}/outgoingmessages-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>500MB</maxFileSize>
      <maxHistory>3</maxHistory>
      <totalSizeCap>2GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <logger name="MeteringMessageLogger" level="info" additivity="false">
    <appender-ref ref="MeteringMessageLoggerRollingFileAppender"/>
  </logger>

  <logger name="OutgoingMessageLogger" level="info" additivity="false">
    <appender-ref ref="OutgoingMessageLoggerRollingFileAppender"/>
  </logger>

  <root level="info">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
