@import "../../app/variables";

.SearchBox {
  position: relative; // Used to position the search icon.
  margin-bottom: $sm-space;
  display: flex;

  .SearchBox-input {
    $border-focused: 1px;
    $border-unfocused: 1px;

    flex: 1;
    font-size: $normal;
    font-family: $font-family;
    margin: $border-focused - $border-unfocused 5px;
    padding: 0 20px 0 5px;
    border: $border-unfocused solid $darkest-grey;
    border-radius: $border-radius;
    line-height: 32px;

    &:focus {
      border: $border-focused solid $blue;
      outline: none;
      margin: 0 5px;
    }
  }

  &:hover {
    .SearchBox-input {
      border: 1px solid $blue !important;
      outline: none;
    }
  }

  &.SearchBox-list {
    width: 240px;
    margin-left: $lg-space;
    margin-right: 10px;
    margin-bottom: 12px;
  }

  &.SearchBox-tree {
    margin-left: auto;
    margin-bottom: 12px;
  }

}
