@import "../../app/variables";

.SearchBox {
  position: relative; // Used to position the search icon.
  margin-bottom: $sm-space;
  display: flex;

  .SearchBox-input {
    $border-focused: 1px;
    $border-unfocused: 1px;

    flex: 1;
    font-size: $normal;
    font-family: $font-family;
    margin: $border-focused - $border-unfocused 5px;
    padding: 0 20px 0 5px;
    border: $border-unfocused solid $darkest-grey;
    border-radius: $border-radius;
    line-height: 32px;

    &:focus {
      border: $border-focused solid $blue-A400;
      outline: none;
      margin: 0 5px;
    }
  }

  &:hover {
    .SearchBox-input {
      border: 1px solid $blue-A400 !important;
      outline: none;
    }
  }
}
