@import "../../app/variables";

.SearchBox {
  position: relative; // Used to position the search icon.
  margin-bottom: $sm-space;
  display: flex;

  .SearchBox-input {
    flex: 1;
    font-size: $normal;
    font-family: $font-family;
    margin: 0 5px;
    padding: 0 20px 0 5px;
    border: 1px solid $grey-900;
    border-radius: $border-radius;
    line-height: 32px;

    &:focus {
      border: 1px solid $blue-A700;
      outline: none;
      margin: 0 5px;
    }
  }

  &:hover {
    .SearchBox-input {
      border: 1px solid $blue-A700 !important;
      outline: none;
    }
  }
}
