@import "../../../../app/variables";

.CollectionStatus {
  width: $overview-widget-width;
  .Widget {
    width: $overview-widget-width;

    .Indicator-wrapper {
      .Indicator {
        cursor: default;
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
  }
}

.widget-link div {
  cursor: pointer;
}
