@import "../../../../app/variables";

.OverviewWidgets {
  width: $overview-widget-width;
  .Widget {
    padding-top: 0;

    .Indicator-wrapper {
      .Indicator {
        cursor: default;
      }
    }
  }
}
