@import "../../../../app/variables";

.EmptyWidget {
  &:hover {
    color: $blackest !important;
    border-color: $black !important;

    svg {
      fill: $black !important;
    }
  }
}

.Widget {
  padding-top: $space;
  margin-bottom: $lg-space;

  &.MapWidget {
    padding-bottom: 0;
    min-height: 600px;
    min-width: 872px;

    & .Map {
      height: 628px;
    }
  }

  .Subtitle-text {
    max-width: 120px;
  }

  a, a:visited {
    text-decoration: none;
    color: inherit;
  }

  .PopoverMenu {
    margin: 0 $sm-space $sm-space 0;
  }

  .Indicator-wrapper {
    margin-right: 0;

    .Indicator {
      border-radius: $border-radius;
      margin-bottom: 0;
      width: $overview-widget-width;

      .Indicator-icon {
        width: 32px !important;
        height: 32px !important;
      }

      .Indicator-details {
        width: 136px;
      }
    }
  }
}

.draggableWidgetArea {
  cursor: move;
}
