@import "../../../../app/variables";

.Widget {
  padding-top: $space;
  margin-bottom: $lg-space;

  &.MapWidget {
    padding-bottom: 0;
    margin-right: $lg-space;
    min-height: 600px;
    min-width: 774px;
  }

  a {
    text-decoration: none;
  }

  .PopoverMenu {
    margin: 0 $sm-space $sm-space 0;
  }

  .Indicator-wrapper {
    margin-right: 0;

    .Indicator {
      box-shadow: none;
      border-radius: 2px;
      margin-bottom: 0;
      width: 172px;

      .Indicator-icon {
        width: 32px !important;
        height: 32px !important;
      }
    }
  }
}
