@import "../../../../app/variables";

.Widget {
  $small-widget-width: 180px;

  margin-bottom: $lg-space;
  min-width: $small-widget-width;

  .MapWrapper {
    border-left: 5px solid $map-color;
    border-bottom-left-radius: $border-radius;
  }

  .Widget-LeftBorder {
    border-left: 5px solid transparent;
    border-top-left-radius: $border-radius;

    &.map {
      border-color: $map-color;
    }

    &.count {
      border-color: $count-color;
    }

    &.info {
      border-color: $white;
    }

    &.ok {
      border-color: $ok-color;
    }

    &.warning {
      border-color: $warning-color;
    }

    &.error {
      border-color: $error-color;
    }
  }

  .Widget-Title {
    padding-top: $space;
  }

  .Subtitle-text {
    max-width: 120px;
  }

  a, a:visited {
    text-decoration: none;
    color: inherit;
  }

  .PopoverMenu {
    margin: 0 $sm-space $sm-space 0;
  }

  .Indicator-wrapper {
    margin-right: 0;

    .Indicator {
      border-radius: 0 0 $border-radius $border-radius;
      margin-bottom: 0;
      width: $small-widget-width;

      .Indicator-icon {
        width: 32px !important;
        height: 32px !important;
      }

      .Indicator-details {
        width: 136px;
      }
    }
  }

  .grid-draggable {
    cursor: move;
  }
}

.react-grid-item .react-resizable-handle {
  bottom: -6px;
  right: -6px;
}
