@import "../../app/variables";

.TimestampInfoMessage {
  color: $black-50;
  margin: $space $space $sm-space $space;

  &.Measurements {
    position: sticky;
    bottom: 0;
    background-color: $white;
    margin: 0;
    height: 44px;
    width: 100%;
    box-shadow: $box-shadow;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    .Small {
      padding-right: $space;
    }
  }
}

.Dialog {
  .TimestampInfoMessage {
    &.Measurements {
      position: fixed;
      left: 0;
    }
  }
}
