.MeterGraphics {
  width: 200px;
}

.OverView {
  .Column {
    margin: 0 30px 40px 0;

    .Row:first-child {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

}

/*
 !important is needed for changes to override the material style
 */
.MeteringPointDialog {
  width: 70% !important;
  max-width: 1000px !important;
}